<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(112, 70, 13)">
  <a class="navbar-brand" href="#">Book Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Removed the "Login" list item -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Add a "Home" button or text below the navigation bar -->

<router-outlet></router-outlet>